.article-lista{
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;

}



.footer-lista{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: auto;
    text-align: center;
}

.margenfooter{
    margin-bottom: 0 ;
}

.fadein{
    display: none;
}

article{
    background-color: lightgrey;
    border-color: black;
    border: solid;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}